
/* CCS RESEST */
        @-ms-viewport{
            width: device-width;
        }

        *{
            margin: 0;
            padding: 0;
        }
        
        body{
            font-family: 'avenir next', sans-serif;
            background-color: #FFFFFF;
            padding: 0px;
            max-width: 100%;
            overflow-x: hidden;
        }

        html{
            scroll-behaviour: smooth;
        }

/* home */

        .i1 {
            max-width: 3.2em;
            float: left;
            margin-left: 10vw;
            margin-top: 0.6em;
        }

        #home {
            display: grid;
            padding-top: 7em;
        } 

        .intro {
            grid-column: 2/4;
            font-size: 4.5vw;
            font-weight: 550;
            margin-top: 8vw;
            margin-left: 10vw;
            max-width: 960px;
        }

        .intro2 {
            font-size: 2.7vw;
            margin-left: 10vw;
            margin-top: 2vw;
        }

        .job {
            color: #1DC3A3;
            font-weight: 600;
        }

        .intro3 {
            font-size: 2vw;
            margin-left: 10vw;
            margin-top: 2vw;
        }

        .linkwork {
            text-decoration: none;
            color: #157E6A;
            font-weight: 550;
        }

        .button1 {
            background-color: white; 
            color: #1DC3A3; 
            border: 0.1em solid #1DC3A3;
            font-size: 1.9vw;
            font-weight: 500;
            transition-duration: 0.4s;
            cursor: pointer;
            background-color: #FFFFFF;
            padding: 10px 30px 10px 30px; 
            margin-left: 10vw;
            margin-top: 6.5vw;
            margin-bottom: 5vw;
        }

        .button1:hover {
            box-shadow: 7px 7px #1DC3A3;
        }

/* NAVIGATION */    

        ol {
            font-size: 1.4em;
            background-color: #FFFFFF;
            padding: 30px;
            position: static;
            box-shadow: 5px 5px 10px #F1F1F1;
            z-index: 30;
        }
        
        ol li {
            display: block;
        }

        li a {
            color: #000000;
            text-decoration: none;
            font-weight: 500;
        }

        nav {
            margin-top: -3.5em;
            width: 100%;
            font-weight: 400;
        }

        nav ol {
            letter-spacing: 0.1px;
            text-align: right;
            margin-top: 2.5em;
            padding-right: 150px;
        }

        nav ol li {
            display:inline;
            margin: 4px;
            padding: 13px 9px 13px 13px;
            background-color: #ffffff;
        }


        nav a:hover { 
            color:  #1DC3A3;
            transition: all 0.4s ease-in-out;
        }

/* PORTFOLIO */

        .title1 {
            font-size: 2.7vw;
            font-weight: 550;
            margin-top: 2em;
            margin-bottom: -1em;
            margin-left: auto;
        }

        .portfolio {            
            margin-left: 10vw;
            display: grid;
            grid-template-columns: 10% 10% 10% 10% 10%;
            grid-gap: 5vw;
            margin-top: 3em;
        }

        #portfolio , .science a, .codebox a, .sherlock a, .news a {
            text-decoration-line: none;
            font-size:1.5vw; 
            color: #000000;
        }

        #portfolio , .science h2, .codebox h2, .sherlock h2, .news h2 {
           margin-top: 0.5em;
        }
        #portfolio , .science p, .codebox p, .sherlock p, .news p {
            text-decoration-line: none;
            font-size: 0.9em;
            font-weight: 500;
        }

        #portfolio , .science , .news{
            grid-column: 1/4;
        }

        #portfolio , .codebox , .sherlock{
            grid-column: 4/7;
        }

        #portfolio , h5 {
            font-weight: 700;
            font-size: 0.9em;
        }

        .newsimg , .appmockup {
            max-width: 103%;
        }

        .sherlock p {
            grid-column: 4/7;
            margin-right: 7em;
        }        

        .codebox p {
            grid-column: 4/7;
            margin-right: 7em;
        }

        .codeboximg , .heroes{
            max-width: 79.5%;
        }

        .travelapp p {
            margin-right: 5.5em;
        }

        .codeboximg:hover, .newsimg:hover , .heroes:hover, .appmockup:hover {
           box-shadow: 10px 10px #1DC3A3;
        }

/* Contact */

        #contact {
            display: grid;
            grid-template-columns: 10% 10% 10% 10% 10%;
            grid-gap: 5vw;
            margin-top: 3em;
        }

       .box {
           grid-column: 1/11;
            box-shadow: 5px -5px 10px #F1F1F1;
            margin-top: 3em;
            background-color: #ffffff;
        }

        h4 {
            font-size: 1.9vw;
            margin-bottom: 0.5em;
            padding-top: 1em;
            margin-left: 10vw;
        }

        .email {
            margin-left: 10vw;
            font-size: 1.6vw;
        }

        .email a {
            text-decoration: none;
            color: #000000;
            font-weight: 600;
        }

        .email a:hover {
            background-color: #ffffff;
            color: #157E6A;
            transition: all 0.4s ease-in-out;
        }

        .socialmedia {
            position: relative;
            margin: 0 auto;
            margin: 1em;
            margin-bottom: 2em;
            margin-left: 10vw;
        }

        .socialmedia ul{
            margin: 0;
            padding: 0;
        }

        .socialmedia li{
            margin: 0;
            padding: 0;
            padding-top: 0;
            list-style: none;
            display: inline-block;
            width: 8%;
            margin-right: -3vw;
        }

        .socialmedia a:link {
            border-bottom: none;
        }

        .socialmedia img {
            opacity: 0.7;
            width: 50%;
        }

        .socialmedia a:hover img {
            opacity: 1.0;
            transition: all 0.4s ease-in-out;
            transform: scale(1.0);
        }


/* About */

        #about {
            margin-left: 10vw;
            display: grid;
            grid-template-columns: 10% 10% 10% 10% 10% 10%;
            grid-gap: 5vw;
            margin-top: 3em;
        }

        .heading {
            font-size: 2.4vw;
            grid-column: 1/6;
            margin-top: 1em;
            text-decoration: underline #1DC3A3;
        }

        .p1 { 
            font-size: 1.65vw;
            grid-column: 1/6;
            margin-top: -2em;
        }

        .p2 { 
            font-size:  1.65vw;
            grid-column: 1/6;
            margin-top: -2.5em;
        }

        .bold {
            font-size:  1.7vw;
            font-weight: 700;
            grid-column: 1/6;
            margin-top: -2em;
        }

        .ixdbelfast {
            color: #1DC3A3;
            text-decoration: none;
            font-weight: 550;
        }

        .button2 {
            background-color: white; 
            color: #1DC3A3; 
            border: 0.1em solid #1DC3A3;
            font-size: 1.9vw;
            font-weight: 500;
            transition-duration: 0.4s;
            cursor: pointer;
            background-color: #FFFFFF;
            padding: 10px 30px 10px 30px; 
            margin-left: 10vw;
            margin-top: 4.1vw;
            margin-bottom: 5vw;
        }

        .button2:hover {
            box-shadow: 7px 7px #1DC3A3;
        }

         #contact2 {
            display: grid;
            grid-template-columns: 10% 10% 10% 10% 10%;
            grid-gap: 5vw;
            margin-top: -2em;
        }